**/.DS_Store
**/xmonad.errors
**/xmonad.hi
**/xmonad.o
**/xmonad-x86_64-linux
home/.vim/backup/*
home/.vim/swap/*
home/.vim/undo/*
home/.config/nvim/.netrwhist
home/.config/nvim/pack/minpac/start/*
**/node_modules
!/**/.gitkeep
